.progressBar {
    width: 60px;
    height: 6px;
    background-color: #333d4a;
    border-radius: 3px;
    overflow: hidden;
}

.progress {
    height: 100%;
    background-color: #00d28f;
    
    transition: width 0.5s ease-in-out;
}


.card .percent {
    font-size: 12px;
    font-weight: bold;
    color: #00d28f;
    margin-bottom: 0;
}


.card {
    width: 220px;
    display: flex;
    align-items: center;
    height: 80px;
    gap: 12px;
}