.sobreMim{
   align-items: center;
    display: flex;
    justify-content: center;
}
.container_sobreMim{
   align-items: center;
   justify-items: center;
    width: 1280px;
    display: flex;
    height: 50vh;
    transform: translateX(100%);
    opacity: 0;
    animation: slideIn 1s ease-out  forwards;
}
@keyframes slideIn{
    from{
        transform: translateX(100%);
        opacity: 0;
    }to{
        transform: translateX(0);
        opacity: 1;
    }
}
.textSobreMim{
    margin: auto;
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}
.textSobreMim h3{
    text-align: center;
   padding: 30px 0;
   font-size: 2.5em;
   font-weight: bold;
}
.container_img_sobremim{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

