.card_projeto {
    width: 320px; /* um pouco maior para melhor visualização */
    height: auto; /* altura ajusta de acordo com o conteúdo */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* distribui título, imagem e botão */
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
     
}


.card_projeto:hover {
    transform: scale(1.05); /* efeito mais suave */
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3); /* sombra mais evidente no hover */
}


.card_projeto p {
    margin: 10px 0;
    text-align: center;
    font-weight: 500;
}
.container_img {
    width: 237px;   
    height: 242px;  
    border-radius: 15px; 
    overflow: hidden; 
    position: relative; 
}

