.home{

    display: flex;
    justify-content: center;
}
.container_home{
    width: 1280px;
    display: flex;
    transform: translateX(-100%);
    opacity: 0;
    animation: slideIn 1s ease-out forwards;
}
@keyframes slideIn{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }to{
        transform: translateX(0%);
        opacity: 1;
    }
}
.container_home .home_text{
    
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.container_home h2{
    font-size: 19px;
    font-weight: 600;
}
.container_home h1{
    font-size: 35px;
    line-height: 50px;
    font-weight: 700;
    
}
.btn_curriculo{
    width: 22%;
    height: 15%;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.233);
    text-decoration: none;
    align-items: center;
    display: flex;
    justify-content: center;
    color: black;
    background-color: #00C86F;
    transition:0.3s ease ;
}
.btn_curriculo:hover{
transform: scale(1.1);
}
.home_img{
    
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: center;
}
